{% raw %}
{% assign author_names = entry.author | split: ', ' %}
{% assign formatted_authors = "" %}
{% for name in author_names %}
  {% if name contains "Linas Nasvytis" %}
    {% assign name = name | replace: "Linas Nasvytis", "<strong>Linas Nasvytis</strong>" %}
  {% endif %}
  {% assign formatted_authors = formatted_authors | append: name %}
  {% unless forloop.last %}
    {% assign formatted_authors = formatted_authors | append: ", " %}
  {% endunless %}
{% endfor %}
<p>{{ formatted_authors }}. "{{ entry.title }}." <em>{{ entry.journal }}</em>, {{ entry.year }}.</p>
{% endraw %}
